/* alt font family
font-family: 'Exo', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
 */

/* * {

} */
/* mobile first @ 360px */

* {
  box-sizing: border-box;
}

.grid-container {
  max-width: 767px;
  margin: 10px 0;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto;
  justify-content: center;
  grid-template-areas: 
  /* "navigation" */
  "main"
  "footer";
}


/* side nav */

.sidenav {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75); /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #b9b9b9;
  display: block;
  transition: 0.3s;
  font-family: 'Open sans';
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.logo-box {
  display: grid;
  position: fixed;
  margin-left:15px;
  margin-top: 0;
  padding:15px 5px 3px 5px;
  background-color: rgba(131, 129, 129, 0.404);
  border-radius:0 0 8px 8px;
  border:2px solid white;
  border-top: none;
  z-index: 1;
}

.logo-box:hover{
  cursor: pointer;
  background-color: rgba(135, 187, 223, .404);
}

.logo-name {
  font-size: .5em;
  display: flex;
  align-items: center;
  font-family: 'Exo', sans-serif;
}
.logo-img {
  height: 25px;
}

.sl1{
  grid-column-start: 2;
}
.sl2 {
  grid-column-start: 3;
}
.sl3 {
  grid-column-start: 4;
}
.sll {
  display: flex;
  justify-content: space-evenly;
  height: 30px;
}
.sidenav-social{
  display: grid;
  grid-template-columns: repeat(5, 45px); 
}
.sidenav-social a{
  padding: 0;
}

.sidenav-social a:hover {
  background: rgba(125, 125, 125, .404) ;
}

/*  /side nav */

/* Jumbotron */

.jumbotron {
  display: grid;
  grid-template-columns: 1, 1fr;
  margin-bottom: 10px;
}

.jumbo-logo {
  width: 100%;
}

.jumbo-float {
  position: absolute;
  width: 100%;
  top: 60px;
  background-color: rgba(0, 0, 0, 0.315);
  padding: 10px;
  /* border-radius: 10px; */
  border-top: 2px solid rgba(255, 255, 255, 0.829);
  border-bottom: 2px solid rgba(255, 255, 255, 0.829);
}
.jumbo-float p {
  font-family: 'Exo', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: .75em;
  margin: 0;
  color: white;
}
.logo-float {
  max-height: 1.5em;
}

/* /Jumbotron */

/* About */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-bottom: 2px solid rgb(165, 159, 159);
  margin-bottom: 10px;
}

.about-logo {
  display: flex;
  align-self: center;
  justify-self: center;
  max-height: 150px;
  border-radius: 8px;
  margin: 10px;
}

.about p {
  font-size: .75em;
  padding-right: 10px;
}

/* /about */

/* services */

.services {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  margin: 0 10px 10px;
}

.card {
  display: grid;
  grid-template-columns: 1, 1fr;
  justify-items: center;
  margin-bottom: 5px;
  height: 320px;
}

.title {
  font-size: 1.25em;
  margin: 0 0 2px;
}

.card p {
  font-size: .75em;
}

/* /services */

/* Portfolios */

.card-img {
  height: 150px;
}
.cb {
  border-bottom: 2px solid rgba(131, 129, 129, 0.404);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.c-b {
  border-radius: 8px;
  background-color: rgba(135, 187, 223, .404);
  padding: 5px;
}
.portfolios a {
  text-decoration: none;
  decoration: none;
}
.portfolios a:hover {
  background-color : rgba(125, 125, 125, .404);
}
.portfolios a:visited {
   color: black;
}

/* /Portfolios */

/* footer */

.footer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-items: center;
  background-color: rgb(71, 125, 175);
  padding-bottom: 20px;
}

.fch,
.number,
.mail {
  display: flex;
  justify-content: center;
}

.map {
  display: none;
}

.link {
  text-decoration:none;
  color: white;
}
.link:hover {
  background-color : rgba(125, 125, 125, .404);
}
.link:visited {
  color: rgb(170, 170, 170);
}

@media (min-width: 768px) {

}